name: "xmllint"

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      
      - name: Install Nix
        uses: cachix/install-nix-action@31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      
      - name: Run xmllint tests
        run: nix run .#xmllint
